# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build output folders
dist
dist-electron

# Local data
data/
*.db
*.db-journal
local-rag-app.db

# OS-specific
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
LLM/
venv/